.toolbar {
  flex: 1 1 auto;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.headline {
  color: #DE5021;
  text-transform: uppercase;
  text-align: center;
  text-shadow: 2px 2px 2px #232323;
}

.subheading-2 {
  color: white;
  text-shadow: 2px 2px 2px #232323;
}

.para {
  color: white;
  text-shadow: 2px 2px 2px #232323;
}

.header {
  position: fixed;
  top: 0
}

.footer {
  position: fixed;
  bottom: 0;
}

.mat-toolbar-row {
  background-color: #2F2E2E;
  text-shadow: 2px 2px 2px #232323;
}

.container {
  padding-top: 62px;
  max-width: 80vw;
  background-color: #2F2E2E;
  margin: auto;
  min-height: 90vh;
}

.container-inner {
  padding-right: 2%;
  padding-left: 2%;
  padding-bottom: 5%;
}

.router-link-active {
  color: #DE5021;
}

.icon {
  width: 22px;
  height: 22px;
  transform: scale(2);
  fill: white;
}
