<div class="container">
  <div class="container-inner">
    <h1 class="headline">About Us</h1>
    <h2 class="subheading-2">How we formed</h2>
    <p class="para">
      The founders of Cerberus Stomping Grounds or CSG community have been playing the ARMA
      games together since early 2014.
      We met on the Definitive Gaming and Stalk & Strike ARMA 2 wasteland servers, and developed our team coordination
      further through the popular mod of DayZ, then Epoch and eventually Overpoch.
    </p>
    <p class="para">
      ARMA 3 was soon added to the mix, and we have been through many communities and game types ever since. Everything
      from Altis Life to Exile to Milsim, we've done it at some point. We've all partaken in varying communities and
      responsibilities within those communities, and have gained a very well rounded knowledge of the functionality of
      ARMA 3 and what it takes to be a part of and run a successful community.
    </p>
    <p class="para">
      We are a dedicated group of skilled players that have decided to put our experience and deep knowledge of the
      game that we love into a server we hope you will enjoy.
    </p>
    <h2 class="subheading-2">Servers we played on</h2>
    <p class="para">
      Over the years of ARMA, we played on many different game modes created by an even larger list of communities,
      below is a list of all servers/communities we have been involved in and/or have played on extensively:
    </p>
    <h3 class="subheading-1">ARMA 2 Communities:</h3>
    <ul class="list">
      <li>DefG Wasteland</li>
      <li>Stalk & Strike Wasteland</li>
      <li>OP4 Wasteland</li>
      <li>FFAAA Milsim</li>
      <li>EVoG DayZ Epoch</li>
      <li>TLC DayZ Overpoch</li>
      <li>Firecock DayZ Overpoch</li>
      <li>DNG DayZ Overpoch</li>
      <li>UK111 DayZ Overpoch</li>
    </ul>
    <h3 class="subheading-1">ARMA 3 Communities:</h3>
    <ul class="list">
      <li>DMM Patrol Ops</li>
      <li>Spearhead Exile/ Milsim</li>
      <li>TAC BF Milsim</li>
      <li>STS Altis Life</li>
      <li>ADK Exile</li>
      <li>EXP Exile</li>
      <li>Spartan Gaming Exile</li>
    </ul>
    <h2 class="subheading-2">Staff Team</h2>
    <h3 class="subheading-1">Head Admins:</h3>
    <ul class="list">
      <li>Bubba</li>
      <li>Jstrow</li>
      <li>Spartan</li>
      <li>Danny Dorito</li>
    </ul>
    <h3 class="subheading-1">Community Managers:​</h3>
    <ul class="list">
      <li>iiBetrayforAR</li>
      <li>Crow</li>
    </ul>
  </div>
</div>
