<div class="container">
  <h1 class="headline csgOrange unselectable">About Us</h1>
  <h2 class="subheading-2 csgOrange unselectable">How we formed</h2>
  <p class="para csgWhite unselectable">
    The founders of Cerberus Stomping Grounds or CSG community have been playing the ARMA
    games together since early 2014.
    We met on the Definitive Gaming and Stalk & Strike ARMA 2 wasteland servers, and developed our team coordination
    further through the popular mod of DayZ, then Epoch and eventually Overpoch.
  </p>
  <p class="para csgWhite unselectable">
    ARMA 3 was soon added to the mix, and we have been through many communities and game types ever since. Everything
    from Altis Life to Exile to Milsim, we've done it at some point. We've all partaken in varying communities and
    responsibilities within those communities, and have gained a very well rounded knowledge of the functionality of
    ARMA 3 and what it takes to be a part of and run a successful community.
  </p>
  <p class="para csgWhite unselectable">
    We are a dedicated group of skilled players that have decided to put our experience and deep knowledge of the
    game that we love into a server we hope you will enjoy.
  </p>
  <h2 class="subheading-2 csgOrange unselectable">Servers we played on</h2>
  <p class="para csgWhite unselectable">
    Over the years of ARMA, we played on many different game modes created by an even larger list of communities,
    below is a list of all servers/communities we have been involved in and/or have played on extensively:
  </p>
  <h3 class="subheading-1 csgWhite unselectable">ARMA 2 Communities:</h3>
  <mat-list class="unselectable">
    <mat-list-item>DefG Wasteland</mat-list-item>
    <mat-list-item>Stalk & Strike Wasteland</mat-list-item>
    <mat-list-item>OP4 Wasteland</mat-list-item>
    <mat-list-item>FFAAA Milsim</mat-list-item>
    <mat-list-item>EVoG DayZ Epoch</mat-list-item>
    <mat-list-item>TLC DayZ Overpoch</mat-list-item>
    <mat-list-item>Firecock DayZ Overpoch</mat-list-item>
    <mat-list-item>DNG DayZ Overpoch</mat-list-item>
    <mat-list-item>UK111 DayZ Overpoch</mat-list-item>
  </mat-list>
  <h3 class="subheading-1 csgWhite unselectable">ARMA 3 Communities:</h3>
  <mat-list class="unselectable">
    <mat-list-item>DMM Patrol Ops</mat-list-item>
    <mat-list-item>Spearhead Exile/ Milsim</mat-list-item>
    <mat-list-item>TAC BF Milsim</mat-list-item>
    <mat-list-item>STS Altis Life</mat-list-item>
    <mat-list-item>ADK Exile</mat-list-item>
    <mat-list-item>EXP Exile</mat-list-item>
    <mat-list-item>Spartan Gaming Exile</mat-list-item>
    <mat-list-item>Karlus Bojangles Exile</mat-list-item>
  </mat-list>
  <h3 class="subheading-1 csgWhite unselectable">DayZ Standalone Communities:</h3>
  <mat-list class="unselectable">
    <mat-list-item>ADK DayZ</mat-list-item>
    <mat-list-item>TW</mat-list-item>
  </mat-list>
  <h2 class="subheading-2 csgOrange unselectable">Staff Team</h2>
  <h3 class="subheading-1 csgWhite unselectable">Head Admins:</h3>
  <mat-list class="unselectable">
    <mat-list-item>Bubba</mat-list-item>
    <mat-list-item>Jstrow</mat-list-item>
    <mat-list-item>Spartan</mat-list-item>
    <mat-list-item>Danny Dorito</mat-list-item>
  </mat-list>
  <h3 class="subheading-1 csgWhite unselectable">Community Managers:​</h3>
  <mat-list class="unselectable">
    <mat-list-item>iiBetrayforAR</mat-list-item>
    <mat-list-item>Crow</mat-list-item>
  </mat-list>
</div>
