<div class="container">
  <h1 class="headline csgOrange">About Us</h1>
  <h2 class="subheading-2 csgOrange">How we formed</h2>
  <p class="para csgWhite">
    The founders of Cerberus Stomping Grounds or CSG community have been playing
    the ARMA games together since early 2014. We met on the Definitive Gaming
    and Stalk & Strike ARMA 2 wasteland servers, and developed our team
    coordination further through the popular mod of DayZ, then Epoch and
    eventually Overpoch.
  </p>
  <p class="para csgWhite">
    ARMA 3 was soon added to the mix, and we have been through many communities
    and game types ever since. Everything from Altis Life to Exile to Milsim,
    we've done it at some point. We've all partaken in varying communities and
    responsibilities within those communities, and have gained a very well
    rounded knowledge of the functionality of ARMA 3 and what it takes to be a
    part of and run a successful community.
  </p>
  <p class="para csgWhite">
    We are a dedicated group of skilled players that have decided to put our
    experience and deep knowledge of the game that we love into a server we hope
    you will enjoy.
  </p>
  <h2 class="subheading-2 csgOrange">Servers we played on</h2>
  <p class="para csgWhite">
    Over the years of ARMA, we played on many different game modes created by an
    even larger list of communities, below is a list of all servers/communities
    we have been involved in and/or have played on extensively:
  </p>
  <h3 class="subheading-1 csgWhite">ARMA 2 Communities:</h3>
  <mat-list>
    <mat-list-item class="csgWhite">DefG Wasteland</mat-list-item>
    <mat-list-item class="csgWhite">Stalk & Strike Wasteland</mat-list-item>
    <mat-list-item class="csgWhite">OP4 Wasteland</mat-list-item>
    <mat-list-item class="csgWhite">FFAAA Milsim</mat-list-item>
    <mat-list-item class="csgWhite">EVoG DayZ Epoch</mat-list-item>
    <mat-list-item class="csgWhite">TLC DayZ Overpoch</mat-list-item>
    <mat-list-item class="csgWhite">Firecock DayZ Overpoch</mat-list-item>
    <mat-list-item class="csgWhite">DNG DayZ Overpoch</mat-list-item>
    <mat-list-item class="csgWhite">UK111 DayZ Overpoch</mat-list-item>
  </mat-list>
  <h3 class="subheading-1 csgWhite">ARMA 3 Communities:</h3>
  <mat-list>
    <mat-list-item class="csgWhite">DMM Patrol Ops</mat-list-item>
    <mat-list-item class="csgWhite">Spearhead Exile/ Milsim</mat-list-item>
    <mat-list-item class="csgWhite">TAC BF Milsim</mat-list-item>
    <mat-list-item class="csgWhite">STS Altis Life</mat-list-item>
    <mat-list-item class="csgWhite">ADK Exile</mat-list-item>
    <mat-list-item class="csgWhite">EXP Exile</mat-list-item>
    <mat-list-item class="csgWhite">Spartan Gaming Exile</mat-list-item>
    <mat-list-item class="csgWhite">Karlus Bojangles Exile</mat-list-item>
  </mat-list>
  <h3 class="subheading-1 csgWhite">
    DayZ Standalone Communities:
  </h3>
  <mat-list>
    <mat-list-item class="csgWhite">ADK DayZ</mat-list-item>
    <mat-list-item class="csgWhite">TW</mat-list-item>
    <mat-list-item class="csgWhite">DAYZ Usonia</mat-list-item>
    <mat-list-item class="csgWhite">MTAS Playground</mat-list-item>
  </mat-list>
  <h2 class="subheading-2 csgOrange">Staff Team</h2>
  <h3 class="subheading-1 csgWhite">Head Admins:</h3>
  <mat-list>
    <mat-list-item class="csgWhite">Bubba</mat-list-item>
    <mat-list-item class="csgWhite">Jstrow</mat-list-item>
    <mat-list-item class="csgWhite">Spartan</mat-list-item>
    <mat-list-item class="csgWhite">Danny Dorito</mat-list-item>
  </mat-list>
  <h3 class="subheading-1 csgWhite">Community Managers:​</h3>
  <mat-list>
    <mat-list-item class="csgWhite">iiBetrayforAR</mat-list-item>
  </mat-list>
</div>
