<div class="container">
  <h1 class="headline csgOrange">Contact Us</h1>
  <h2 class="subheading-2 csgOrange">Steam</h2>
  <a mat-raised-button color="primary" href="https://steamcommunity.com/groups/CerberusStompingGrounds" target='_blank'
    rel='noopener noreferrer' aria-label="Steam Group Link"><u>Steam Group</u></a>
  <h2 class="subheading-2 csgOrange">Twitter</h2>
  <a mat-raised-button color="primary" href="https://twitter.com/csg_exile" target='_blank' rel='noopener noreferrer'
    aria-label="Twitter Link"><u>Twitter</u></a>
  <h2 class="subheading-2 csgOrange">Email</h2>
  <a mat-raised-button color="primary" href="mailto:developer@csgcommunity.com" target='_blank'
    rel='noopener noreferrer' aria-label="Email Link"><u>Email Us</u></a>
</div>
