<div class="container">
  <h1 class="headline csgOrange unselectable">Contact Us</h1>
  <h2 class="subheading-2 csgOrange unselectable">Steam</h2>
  <a mat-raised-button color="primary" href="https://steamcommunity.com/groups/CerberusStompingGrounds"
    aria-label="Steam Group Link"><u>Steam Group</u></a>
  <h2 class="subheading-2 csgOrange unselectable">Twitter</h2>
  <a mat-raised-button color="primary" href="https://twitter.com/csg_exile" aria-label="Twitter Link"><u>Twitter</u></a>
  <h2 class="subheading-2 csgOrange unselectable">Email</h2>
  <a mat-raised-button color="primary" href="mailto:developer@csgcommunity.com" aria-label="Email Link"><u>Email
      Us</u></a>
</div>
