.csgOrange {
  color: var(--csgOrange);
}

.csgBlack {
  color: var(--csgBlack);
}

.csgGrey {
  color: var(--csgGrey);
}

.csgWhite {
  color: var(--csgWhite);
}

.headline {
  text-transform: uppercase;
  text-align: center;
  margin: 0;
  padding-top: 2vh;
}

.chevron-pad {
  padding-left: 4px;
}

.center {
  margin-left: auto;
  margin-right: auto;
}

.image {
  width: 35vw;
  height: auto;
  display: block;
}

.subheading-1 {
  color: var(--csgWhite);
}

.para {
  line-height: 1.3;
}

.mat-sidenav {
  background-color: var(--csgBlack);
}

.unselectable {
  user-select: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
}

.mat-list-item {
  color: var(--csgWhite);
  height: 30px;
}

.container {
  background-color: var(--csgGrey);
  margin: auto;
  padding: 2%;
  min-height: 80%;
}

.router-link-active {
  color: var(--csgOrange);
}

::-webkit-scrollbar {
  width: 10px;
}

::-webkit-scrollbar-track {
  background: var(--csgBlack);
}

::-webkit-scrollbar-thumb {
  background: var(--csgOrange);
}

::-webkit-resizer {
  background: var(--csgOrange);
}

.background {
  background-color: var(--csgGrey);
}
