<div class="container">
  <h1 class="headline unselectable">Cerberus Stomping Grounds</h1>
  <h1 class="headline unselectable">CSG ARMA 3 Exile Chernarus Isles</h1>
  <img class="img" src="https://cdn.battlemetrics.com/b/horizontal500x80px/1058645.png?foreground=%23fff&background=%23232323&lines=%23DE5021&linkColor=%23DE5021&chartColor=%23DE5021" />
  <h2 class="subheading-2 unselectable">Features</h2>
  <mat-list class="unselectable">
    <mat-list-item>Custom Loot Table</mat-list-item>
    <mat-list-item>Custom Traders</mat-list-item>
    <mat-list-item>Custom Missions</mat-list-item>
    <mat-list-item>Custom Static Missions</mat-list-item>
    <mat-list-item>Custom Locations</mat-list-item>
    <mat-list-item>Large variety of high quality mods</mat-list-item>
    <mat-list-item>Advanced Towing</mat-list-item>
    <mat-list-item>Advanced Urban Rappelling</mat-list-item>
    <mat-list-item>Better UI</mat-list-item>
    <mat-list-item>Roaming AI</mat-list-item>
    <mat-list-item>Territory Payment Warnings</mat-list-item>
    <mat-list-item>Helicopter Crashes</mat-list-item>
    <mat-list-item>Loot Drops</mat-list-item>
    <mat-list-item>Extra XM8 Apps</mat-list-item>
    <mat-list-item>Unique Flags</mat-list-item>
    <mat-list-item>Black Market trader</mat-list-item>
    <mat-list-item>Revive Script</mat-list-item>
    <mat-list-item>Claim Vehicle</mat-list-item>
  </mat-list>
  <h2 class="subheading-2 unselectable">Required Mods</h2>
  <mat-table matColumnDef="mod" [dataSource]="mods">
    <ng-container>
      <mat-header-cell *matHeaderCellDef class="unselectable"><strong>Mod</strong></mat-header-cell>
      <mat-cell *matCellDef="let m" class="unselectable">{{m.mod}}</mat-cell>
    </ng-container>
    <ng-container matColumnDef="link" class="unselectable">
      <mat-header-cell *matHeaderCellDef class="unselectable"><strong>Link</strong></mat-header-cell>
      <mat-cell *matCellDef="let m" (click)="gotoSteam(m.link)" class="unselectable"><u>Steam Download</u></mat-cell>
    </ng-container>
    <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
    <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>
  </mat-table>
</div>
