<div class="container">
  <h1 class="headline unselectable">Cerberus Stomping Grounds</h1>
  <h1 class="headline unselectable">CSG ARMA 3 Exile Chernarus Isles</h1>
  <h1 class="headline unselectable">144.217.255.231:2302</h1>
  <h2 class="subheading-2 unselectable">Features</h2>
  <mat-list>
    <mat-list-item>Custom Loot Table</mat-list-item>
    <mat-list-item>Custom Traders</mat-list-item>
    <mat-list-item>Custom Missions</mat-list-item>
    <mat-list-item>Custom Static Missions</mat-list-item>
    <mat-list-item>Custom Locations</mat-list-item>
    <mat-list-item>Large variety of high quality mods</mat-list-item>
    <mat-list-item>Advanced Towing</mat-list-item>
    <mat-list-item>Advanced Urban Rappelling</mat-list-item>
    <mat-list-item>Better UI</mat-list-item>
    <mat-list-item>Roaming AI</mat-list-item>
    <mat-list-item>Territory Payment Warnings</mat-list-item>
    <mat-list-item>Helicopter Crashes</mat-list-item>
    <mat-list-item>Loot Drops</mat-list-item>
    <mat-list-item>Extra XM8 Apps</mat-list-item>
    <mat-list-item>Unique Flags</mat-list-item>
    <mat-list-item>Black Market trader</mat-list-item>
    <mat-list-item>Revive Script</mat-list-item>
    <mat-list-item>Claim Vehicle</mat-list-item>
  </mat-list>
  <h2 class="subheading-2 unselectable">Required Mods</h2>
</div>
