html {
  scroll-behavior: smooth
}

body {
  font-family: var(--csgFont), sans-serif;
  src: local(var(--csgFont)), local(var(--csgFont)), url(https://fonts.googleapis.com/css2?family=Open+Sans&display=swap) format("woff2");
  font-display: swap;
  --csgBlack: #232323;
  --csgGrey: #2f2e2e;
  --csgOrange: #de5021;
  --csgWhite: #ffffff;
  --csgFont: "Open Sans";
  text-shadow: 2px 2px 2px var(--csgBlack)
}

a {
  background-color: var(--csgOrange);
}
