html {
  scroll-behavior: smooth;
}
body {
  font-family: var(--csgFont), sans-serif;
  src: local(var(--csgFont)), local(var(--csgFont)),
  url('https://fonts.googleapis.com/css2?family=Open+Sans&display=swap')
    format('woff2');
  font-display: swap;

  --csgBlack: #232323;
  --csgGrey: #2F2E2E;
  --csgOrange: #DE5021;
  --csgWhite: #ffffff;
  --csgFont: 'Open Sans';
  text-shadow: 2px 2px 2px var(--csgBlack);
}

button {
  background-color: var(--csgOrange) !important;
}

.mat-elevation-z6 {
  box-shadow: 0 3px 5px -1px rgba(0, 0, 0, .2), 0 6px 10px 0 rgba(0, 0, 0, .14), 0 1px 18px 0 rgba(0, 0, 0, .12)
}

.mat-badge-content {
  font-weight: 600;
  font-size: 12px;
}

.mat-badge-small .mat-badge-content {
  font-size: 6px;
}

.mat-badge-large .mat-badge-content {
  font-size: 24px;
}

.mat-h1,
.mat-headline-5,
.mat-typography h1 {
  font: 400 24px/32px var(--csgFont), sans-serif;
  margin: 0 0 16px;
}

.mat-h2,
.mat-headline-6,
.mat-typography h2 {
  font: 500 20px/32px var(--csgFont), sans-serif;
  margin: 0 0 16px;
}

.mat-h3,
.mat-subtitle-1,
.mat-typography h3 {
  font: 400 16px/28px var(--csgFont), sans-serif;
  margin: 0 0 16px;
}

.mat-h4,
.mat-body-1,
.mat-typography h4 {
  font: 400 15px/24px var(--csgFont), sans-serif;
  margin: 0 0 16px;
}

.mat-h5,
.mat-typography h5 {
  font: 400 11.62px/20px var(--csgFont), sans-serif;
  margin: 0 0 12px;
}

.mat-h6,
.mat-typography h6 {
  font: 400 9.38px/20px var(--csgFont), sans-serif;
  margin: 0 0 12px;
}

.mat-subtitle-2,
.mat-body-strong {
  font: 500 14px/24px var(--csgFont), sans-serif;
}

.mat-body,
.mat-body-2,
.mat-typography {
  font: 400 14px/20px var(--csgFont), sans-serif;
}

.mat-body p,
.mat-body-2 p,
.mat-typography p {
  margin: 0 0 12px;
}

.mat-caption,
.mat-small {
  font: 400 12px/20px var(--csgFont), sans-serif;
}

.mat-headline-1,
.mat-typography .mat-display-4 {
  font: 300 112px/112px var(--csgFont), sans-serif;
  margin: 0 0 56px;
  letter-spacing: -.05em;
}

.mat-headline-2,
.mat-typography .mat-display-3 {
  font: 400 56px/56px var(--csgFont), sans-serif;
  margin: 0 0 64px;
  letter-spacing: -.02em;
}

.mat-headline-3,
.mat-typography .mat-display-2 {
  font: 400 45px/48px var(--csgFont), sans-serif;
  margin: 0 0 64px;
  letter-spacing: -.005em;
}

.mat-headline-4,
.mat-typography .mat-display-1 {
  font: 400 34px/40px var(--csgFont), sans-serif;
  margin: 0 0 64px;
}

.mat-mdc-button,
.mat-mdc-fab,
.mat-mdc-unelevated-button,
.mat-mdc-icon-button,
.mat-mdc-mini-fab,
.mat-mdc-raised-button,
.mat-mdc-outlined-button {
  font-size: 14px;
  font-weight: 500;
}

.mat-mdc-cell,
.mat-mdc-footer-cell {
  font-size: 14px;
}

input.mat-mdc-input-element {
  margin-top: -.0625em1;
}

.mat-mdc-menu-item {
  font-size: 16px;
  font-weight: 400;
}

/* TODO(mdc-migration): The following rule targets internal classes of tabs that may no longer apply for the MDC version. */
.mat-tab-label,
.mat-mdc-tab-link {
  font-size: 14px;
  font-weight: 500
}

.mat-toolbar,
.mat-toolbar h1,
.mat-toolbar h2,
.mat-toolbar h3,
.mat-toolbar h4,
.mat-toolbar h5,
.mat-toolbar h6 {
  font: 500 20px/32px var(--csgFont), sans-serif;
  outline-color: transparent;
  margin: 0;
}

.mat-mdc-list .mat-mdc-list-item,
.mat-nav-list .mat-list-item,
.mat-selection-list .mat-list-item {
  font-size: 16px;
  padding: 0;
}

.mat-mdc-list .mat-mdc-list-item .mat-line,
.mat-nav-list .mat-list-item .mat-line,
.mat-selection-list .mat-list-item .mat-line {
  white-space: nowrap;
  overflow: ellipsis;
  text-overflow: ellipsis;
  display: block;
  box-sizing: border-box;
  padding: 0;
}

.mat-mdc-list .mat-mdc-list-item .mat-line:nth-child(n+2),
.mat-nav-list .mat-list-item .mat-line:nth-child(n+2),
.mat-selection-list .mat-list-item .mat-line:nth-child(n+2) {
  font-size: 14px;
  padding: 0;
}

/* TODO(mdc-migration): The following rule targets internal classes of list that may no longer apply for the MDC version. */
.mat-mdc-list .mat-list-option,
.mat-nav-list .mat-list-option,
.mat-selection-list .mat-list-option {
  font-size: 16px;
  padding: 0;
}

/* TODO(mdc-migration): The following rule targets internal classes of list that may no longer apply for the MDC version. */
.mat-mdc-list .mat-list-option .mat-line,
.mat-nav-list .mat-list-option .mat-line,
.mat-selection-list .mat-list-option .mat-line {
  white-space: nowrap;
  overflow: ellipsis;
  text-overflow: ellipsis;
  display: block;
  box-sizing: border-box;
  padding: 0;
}

/* TODO(mdc-migration): The following rule targets internal classes of list that may no longer apply for the MDC version. */
.mat-mdc-list .mat-list-option .mat-line:nth-child(n+2),
.mat-nav-list .mat-list-option .mat-line:nth-child(n+2),
.mat-selection-list .mat-list-option .mat-line:nth-child(n+2) {
  font-size: 14px;
}

.mat-mdc-list .mat-mdc-subheader,
.mat-nav-list .mat-subheader,
.mat-selection-list .mat-subheader {
  font-size: 14px;
  font-weight: 500;
}

.mat-mdc-list[dense] .mat-mdc-list-item,
.mat-nav-list[dense] .mat-list-item,
.mat-selection-list[dense] .mat-list-item {
  font-size: 12px
}

.mat-mdc-list[dense] .mat-mdc-list-item .mat-line,
.mat-nav-list[dense] .mat-list-item .mat-line,
.mat-selection-list[dense] .mat-list-item .mat-line {
  white-space: nowrap;
  overflow: ellipsis;
  text-overflow: ellipsis;
  display: block;
  box-sizing: border-box;
}

.mat-mdc-list[dense] .mat-mdc-list-item .mat-line:nth-child(n+2),
.mat-nav-list[dense] .mat-list-item .mat-line:nth-child(n+2),
.mat-selection-list[dense] .mat-list-item .mat-line:nth-child(n+2) {
  font-size: 12px;
}

/* TODO(mdc-migration): The following rule targets internal classes of list that may no longer apply for the MDC version. */
.mat-mdc-list[dense] .mat-list-option,
.mat-nav-list[dense] .mat-list-option,
.mat-selection-list[dense] .mat-list-option {
  font-size: 12px;
}

/* TODO(mdc-migration): The following rule targets internal classes of list that may no longer apply for the MDC version. */
.mat-mdc-list[dense] .mat-list-option .mat-line,
.mat-nav-list[dense] .mat-list-option .mat-line,
.mat-selection-list[dense] .mat-list-option .mat-line {
  white-space: nowrap;
  overflow: ellipsis;
  text-overflow: ellipsis;
  display: block;
  box-sizing: border-box;
}

/* TODO(mdc-migration): The following rule targets internal classes of list that may no longer apply for the MDC version. */
.mat-mdc-list[dense] .mat-list-option .mat-line:nth-child(n+2),
.mat-nav-list[dense] .mat-list-option .mat-line:nth-child(n+2),
.mat-selection-list[dense] .mat-list-option .mat-line:nth-child(n+2) {
  font-size: 12px;
}

.mat-mdc-list[dense] .mat-mdc-subheader,
.mat-nav-list[dense] .mat-subheader,
.mat-selection-list[dense] .mat-subheader {
  font-size: 12px;
  font-weight: 500;
}

.mat-mdc-simple-snack-bar {
  font-size: 14px;
}

.mat-mdc-snack-bar-action {
  line-height: 1;
  font-family: inherit;
  font-size: inherit;
  font-weight: 500;
}

.mat-ripple {
  overflow: ellipsis;
}

.mat-ripple.mat-ripple-unbounded {
  overflow: visible;
}

.mat-ripple-element {
  position: absolute;
  border-radius: 50%;
  pointer-events: none;
  transition: opacity, transform 0s cubic-bezier(0, 0, .2, 1);
  transform: scale(0);
}

@media screen and (-ms-high-contrast:active) {
  .mat-ripple-element {
    display: none;
  }
}

.cdk-visually-hidden {
  border: 0;
  clip: rect(0 0 0 0);
  size: 1px;
  margin: -1px;
  overflow: ellipsis;
  padding: 0;
  position: absolute;
  outline: 0;
  appearance: none;
  -webkit-appearance: none;
  -moz-appearance: none;
}

.cdk-global-overlay-wrapper,
.cdk-overlay-container {
  pointer-events: none;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
}

.cdk-overlay-container {
  position: fixed;
  z-index: 1000;
}

.cdk-overlay-container:empty {
  display: none;
}

.cdk-global-overlay-wrapper {
  display: flex;
  position: absolute;
  z-index: 1000;
}

.cdk-overlay-pane {
  position: absolute;
  pointer-events: auto;
  box-sizing: border-box;
  z-index: 1000;
  display: flex;
  max-width: 100%;
  max-height: 100%;
}

.cdk-overlay-backdrop {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 1000;
  pointer-events: auto;
  -webkit-tap-highlight-color: transparent;
  transition: opacity .4s cubic-bezier(.25, .8, .25, 1);
  opacity: 0;
}

.cdk-overlay-backdrop.cdk-overlay-backdrop-showing {
  opacity: 1;
}

@media screen and (-ms-high-contrast:active) {
  .cdk-overlay-backdrop.cdk-overlay-backdrop-showing {
    opacity: .6;
  }
}

.cdk-overlay-dark-backdrop {
  background: rgba(0, 0, 0, .288);
}

.cdk-overlay-transparent-backdrop,
.cdk-overlay-transparent-backdrop.cdk-overlay-backdrop-showing {
  opacity: 0;
}

.cdk-overlay-connected-position-bounding-box {
  position: absolute;
  z-index: 1000;
  display: flex;
  flex-direction: column;
  min-width: 1px;
  min-height: 1px;
}

.cdk-global-scrollblock {
  position: fixed;
  width: 100%;
  overflow-y: scroll;
}

.mat-app-background {
  background-color: var(--csgBlack);
  color: rgba(0, 0, 0, .87);
}

.mat-theme-loaded-marker {
  display: none;
}

.mat-badge-accent .mat-badge-content {
  background: var(--csgOrange);
  color: rgba(0, 0, 0, .87);
}

.mat-badge-warn .mat-badge-content {
  color: var(--csgWhite);
  background: var(--csgOrange);
}

.mat-badge {
  position: relative;
}

.mat-badge-hidden .mat-badge-content {
  display: none;
}

.mat-badge-content {
  position: absolute;
  text-align: center;
  display: inline-block;
  border-radius: 50%;
  transition: transform .2s ease-in-out;
  transform: scale(.6);
  overflow: ellipsis;
  white-space: nowrap;
  text-overflow: ellipsis;
  pointer-events: none;
}

.mat-badge-content.mat-badge-active {
  transform: none
}

.mat-badge-small .mat-badge-content {
  width: 16px;
  height: 16px;
  line-height: 16px;
}

@media screen and (-ms-high-contrast:active) {
  .mat-badge-small .mat-badge-content {
    outline: solid 1px;
    border-radius: 0;
  }
}

.mat-badge-small.mat-badge-above .mat-badge-content {
  top: -8px;
}

.mat-badge-small.mat-badge-below .mat-badge-content {
  bottom: -8px;
}

.mat-badge-small.mat-badge-before .mat-badge-content {
  left: -16px;
}

[dir=rtl] .mat-badge-small.mat-badge-before .mat-badge-content {
  left: auto;
  right: -16px;
}

.mat-badge-small.mat-badge-after .mat-badge-content {
  right: -16px;
}

[dir=rtl] .mat-badge-small.mat-badge-after .mat-badge-content {
  right: auto;
  left: -16px;
}

.mat-badge-small.mat-badge-overlap.mat-badge-before .mat-badge-content {
  left: -8px;
}

[dir=rtl] .mat-badge-small.mat-badge-overlap.mat-badge-before .mat-badge-content {
  left: auto;
  right: -8px;
}

.mat-badge-small.mat-badge-overlap.mat-badge-after .mat-badge-content {
  right: -8px;
}

[dir=rtl] .mat-badge-small.mat-badge-overlap.mat-badge-after .mat-badge-content {
  right: auto;
  left: -8px;
}

.mat-badge-medium .mat-badge-content {
  width: 22px;
  height: 22px;
  line-height: 22px;
}

@media screen and (-ms-high-contrast:active) {
  .mat-badge-medium .mat-badge-content {
    outline: solid 1px;
    border-radius: 0;
  }
}

.mat-badge-medium.mat-badge-above .mat-badge-content {
  top: -11px;
}

.mat-badge-medium.mat-badge-below .mat-badge-content {
  bottom: -11px;
}

.mat-badge-medium.mat-badge-before .mat-badge-content {
  left: -22px;
}

[dir=rtl] .mat-badge-medium.mat-badge-before .mat-badge-content {
  left: auto;
  right: -22px;
}

.mat-badge-medium.mat-badge-after .mat-badge-content {
  right: -22px;
}

[dir=rtl] .mat-badge-medium.mat-badge-after .mat-badge-content {
  right: auto;
  left: -22px;
}

.mat-badge-medium.mat-badge-overlap.mat-badge-before .mat-badge-content {
  left: -11px;
}

[dir=rtl] .mat-badge-medium.mat-badge-overlap.mat-badge-before .mat-badge-content {
  left: auto;
  right: -11px;
}

.mat-badge-medium.mat-badge-overlap.mat-badge-after .mat-badge-content {
  right: -11px;
}

[dir=rtl] .mat-badge-medium.mat-badge-overlap.mat-badge-after .mat-badge-content {
  right: auto;
  left: -11px;
}

.mat-badge-large .mat-badge-content {
  width: 28px;
  height: 28px;
  line-height: 28px;
}

@media screen and (-ms-high-contrast:active) {
  .mat-badge-large .mat-badge-content {
    outline: solid 1px;
    border-radius: 0;
  }
}

.mat-badge-large.mat-badge-above .mat-badge-content {
  top: -14px;
}

.mat-badge-large.mat-badge-below .mat-badge-content {
  bottom: -14px;
}

.mat-badge-large.mat-badge-before .mat-badge-content {
  left: -28px;
}

[dir=rtl] .mat-badge-large.mat-badge-before .mat-badge-content {
  left: auto;
  right: -28px;
}

.mat-badge-large.mat-badge-after .mat-badge-content {
  right: -28px;
}

[dir=rtl] .mat-badge-large.mat-badge-after .mat-badge-content {
  right: auto;
  left: -28px
}

.mat-badge-large.mat-badge-overlap.mat-badge-before .mat-badge-content {
  left: -14px;
}

[dir=rtl] .mat-badge-large.mat-badge-overlap.mat-badge-before .mat-badge-content {
  left: auto;
  right: -14px;
}

.mat-badge-large.mat-badge-overlap.mat-badge-after .mat-badge-content {
  right: -14px;
}

[dir=rtl] .mat-badge-large.mat-badge-overlap.mat-badge-after .mat-badge-content {
  right: auto;
  left: -14px;
}

.mat-bottom-sheet-container {
  background: var(--csgWhite);
  color: rgba(0, 0, 0, .87);
}

.mat-mdc-button,
.mat-mdc-icon-button,
.mat-mdc-outlined-button {
  color: inherit;
  background: 0 0;
}

.mat-mdc-button.mat-primary,
.mat-mdc-icon-button.mat-primary,
.mat-mdc-outlined-button.mat-primary {
  color: var(--csgOrange);
}

.mat-mdc-button.mat-accent,
.mat-mdc-icon-button.mat-accent,
.mat-mdc-outlined-button.mat-accent {
  color: var(--csgOrange);
}

.mat-mdc-button.mat-warn,
.mat-mdc-icon-button.mat-warn,
.mat-mdc-outlined-button.mat-warn {
  color: var(--csgOrange);
}

.mat-mdc-button.mat-accent[disabled],
.mat-button.mat-primary[disabled],
.mat-button.mat-warn[disabled],
.mat-button[disabled][disabled],
.mat-mdc-icon-button.mat-accent[disabled],
.mat-icon-button.mat-primary[disabled],
.mat-icon-button.mat-warn[disabled],
.mat-icon-button[disabled][disabled],
.mat-mdc-outlined-button.mat-accent[disabled],
.mat-stroked-button.mat-primary[disabled],
.mat-stroked-button.mat-warn[disabled],
.mat-stroked-button[disabled][disabled] {
  color: rgba(0, 0, 0, .26);
}

/* TODO(mdc-migration): The following rule targets internal classes of button that may no longer apply for the MDC version. */
.mat-mdc-button.mat-primary .mat-button-focus-overlay,
.mat-mdc-icon-button.mat-primary .mat-button-focus-overlay,
.mat-mdc-outlined-button.mat-primary .mat-button-focus-overlay {
  background-color: rgba(103, 58, 183, .12);
}

/* TODO(mdc-migration): The following rule targets internal classes of button that may no longer apply for the MDC version. */
.mat-mdc-button.mat-accent .mat-button-focus-overlay,
.mat-mdc-icon-button.mat-accent .mat-button-focus-overlay,
.mat-mdc-outlined-button.mat-accent .mat-button-focus-overlay {
  background-color: rgba(255, 215, 64, .12);
}

/* TODO(mdc-migration): The following rule targets internal classes of button that may no longer apply for the MDC version. */
.mat-mdc-button.mat-warn .mat-button-focus-overlay,
.mat-mdc-icon-button.mat-warn .mat-button-focus-overlay,
.mat-mdc-outlined-button.mat-warn .mat-button-focus-overlay {
  background-color: rgba(244, 67, 54, .12);
}

/* TODO(mdc-migration): The following rule targets internal classes of button that may no longer apply for the MDC version. */
.mat-mdc-button[disabled] .mat-button-focus-overlay,
.mat-mdc-icon-button[disabled] .mat-button-focus-overlay,
.mat-mdc-outlined-button[disabled] .mat-button-focus-overlay {
  background-color: transparent;
}

.mat-mdc-button.mat-primary .mat-ripple-element,
.mat-mdc-icon-button.mat-primary .mat-ripple-element,
.mat-mdc-outlined-button.mat-primary .mat-ripple-element {
  background-color: rgba(103, 58, 183, .1);
}

.mat-mdc-button.mat-accent .mat-ripple-element,
.mat-mdc-icon-button.mat-accent .mat-ripple-element,
.mat-mdc-outlined-button.mat-accent .mat-ripple-element {
  background-color: rgba(255, 215, 64, .1);
}

.mat-mdc-button.mat-warn .mat-ripple-element,
.mat-mdc-icon-button.mat-warn .mat-ripple-element,
.mat-mdc-outlined-button.mat-warn .mat-ripple-element {
  background-color: rgba(244, 67, 54, .1);
}

.mat-mdc-fab,
.mat-mdc-unelevated-button,
.mat-mdc-mini-fab,
.mat-mdc-raised-button {
  color: rgba(0, 0, 0, .87);
  background-color: var(--csgWhite);
}

.mat-mdc-fab.mat-primary,
.mat-mdc-unelevated-button.mat-primary,
.mat-mdc-mini-fab.mat-primary,
.mat-mdc-raised-button.mat-primary {
  color: var(--csgWhite);
}

.mat-mdc-fab.mat-accent,
.mat-mdc-unelevated-button.mat-accent,
.mat-mdc-mini-fab.mat-accent,
.mat-mdc-raised-button.mat-accent {
  color: rgba(0, 0, 0, .87);
}

.mat-mdc-fab.mat-warn,
.mat-mdc-unelevated-button.mat-warn,
.mat-mdc-mini-fab.mat-warn,
.mat-mdc-raised-button.mat-warn {
  color: var(--csgWhite);
}

.mat-mdc-fab.mat-accent[disabled],
.mat-fab.mat-primary[disabled],
.mat-fab.mat-warn[disabled],
.mat-fab[disabled][disabled],
.mat-mdc-unelevated-button.mat-accent[disabled],
.mat-flat-button.mat-primary[disabled],
.mat-flat-button.mat-warn[disabled],
.mat-flat-button[disabled][disabled],
.mat-mdc-mini-fab.mat-accent[disabled],
.mat-mini-fab.mat-primary[disabled],
.mat-mini-fab.mat-warn[disabled],
.mat-mini-fab[disabled][disabled],
.mat-mdc-raised-button.mat-accent[disabled],
.mat-raised-button.mat-primary[disabled],
.mat-raised-button.mat-warn[disabled],
.mat-raised-button[disabled][disabled] {
  color: rgba(0, 0, 0, .26);
}

.mat-mdc-fab.mat-primary,
.mat-mdc-unelevated-button.mat-primary,
.mat-mdc-mini-fab.mat-primary,
.mat-mdc-raised-button.mat-primary {
  background-color: var(--csgOrange);
}

.mat-mdc-fab.mat-accent,
.mat-mdc-unelevated-button.mat-accent,
.mat-mdc-mini-fab.mat-accent,
.mat-mdc-raised-button.mat-accent {
  background-color: var(--csgOrange);
}

.mat-mdc-fab.mat-warn,
.mat-mdc-unelevated-button.mat-warn,
.mat-mdc-mini-fab.mat-warn,
.mat-mdc-raised-button.mat-warn {
  background-color: var(--csgOrange);
}

.mat-mdc-fab.mat-accent[disabled],
.mat-fab.mat-primary[disabled],
.mat-fab.mat-warn[disabled],
.mat-fab[disabled][disabled],
.mat-mdc-unelevated-button.mat-accent[disabled],
.mat-flat-button.mat-primary[disabled],
.mat-flat-button.mat-warn[disabled],
.mat-flat-button[disabled][disabled],
.mat-mdc-mini-fab.mat-accent[disabled],
.mat-mini-fab.mat-primary[disabled],
.mat-mini-fab.mat-warn[disabled],
.mat-mini-fab[disabled][disabled],
.mat-mdc-raised-button.mat-accent[disabled],
.mat-raised-button.mat-primary[disabled],
.mat-raised-button.mat-warn[disabled],
.mat-raised-button[disabled][disabled] {
  background-color: rgba(0, 0, 0, .12);
}

.mat-mdc-fab.mat-primary .mat-ripple-element,
.mat-mdc-unelevated-button.mat-primary .mat-ripple-element,
.mat-mdc-mini-fab.mat-primary .mat-ripple-element,
.mat-mdc-raised-button.mat-primary .mat-ripple-element {
  background-color: rgba(255, 255, 255, .1);
}

.mat-mdc-fab.mat-accent .mat-ripple-element,
.mat-mdc-unelevated-button.mat-accent .mat-ripple-element,
.mat-mdc-mini-fab.mat-accent .mat-ripple-element,
.mat-mdc-raised-button.mat-accent .mat-ripple-element {
  background-color: rgba(0, 0, 0, .1);
}

.mat-mdc-fab.mat-warn .mat-ripple-element,
.mat-mdc-unelevated-button.mat-warn .mat-ripple-element,
.mat-mdc-mini-fab.mat-warn .mat-ripple-element,
.mat-mdc-raised-button.mat-warn .mat-ripple-element {
  background-color: rgba(255, 255, 255, .1);
}

.mat-mdc-icon-button.mat-primary .mat-ripple-element {
  background-color: rgba(103, 58, 183, .2);
}

.mat-mdc-icon-button.mat-accent .mat-ripple-element {
  background-color: rgba(255, 215, 64, .2);
}

.mat-mdc-icon-button.mat-warn .mat-ripple-element {
  background-color: rgba(244, 67, 54, .2);
}

.mat-mdc-table {
  background: var(--csgWhite);
}

.mat-mdc-table tbody,
.mat-table tfoot,
.mat-table thead,
.mat-mdc-table-sticky,
[mat-footer-row],
[mat-header-row],
[mat-row],
mat-footer-row,
mat-header-row,
mat-row {
  background: var(--csgGrey);
}

mat-footer-row,
mat-header-row,
mat-row,
td.mat-mdc-cell,
td.mat-mdc-footer-cell,
th.mat-mdc-header-cell {
  border-bottom-color: var(--csgWhite);
  color: var(--csgWhite);
  text-shadow: 2px 2px 2px var(--csgBlack);
}

.mat-mdc-header-cell {
  color: var(--csgWhite);
  text-shadow: 2px 2px 2px var(--csgBlack);
  font-weight: 500;
}

.mat-mdc-cell,
.mat-mdc-footer-cell {
  color: var(--csgWhite);
}

.mat-mdc-form-field-error {
  color: var(--csgOrange);
}

.mat-icon.mat-primary {
  color: var(--csgOrange);
}

.mat-icon.mat-accent {
  color: var(--csgOrange);
}

.mat-icon.mat-warn {
  color: var(--csgOrange);
}

.mat-mdc-list .mat-mdc-list-item,
.mat-nav-list .mat-list-item,
.mat-selection-list .mat-list-item {
  color: rgba(0, 0, 0, .87)
}

/* TODO(mdc-migration): The following rule targets internal classes of list that may no longer apply for the MDC version. */
.mat-mdc-list .mat-list-option,
.mat-nav-list .mat-list-option,
.mat-selection-list .mat-list-option {
  color: rgba(0, 0, 0, .87);
}

.mat-mdc-list .mat-mdc-subheader,
.mat-nav-list .mat-subheader,
.mat-selection-list .mat-subheader {
  color: rgba(0, 0, 0, .54)
}

/* TODO(mdc-migration): The following rule targets internal classes of list that may no longer apply for the MDC version. */
.mat-list-item-disabled {
  background-color: var(--csgWhite);
}

.mat-list-option.mat-mdc-list-item-focus,
.mat-list-option:hover,
.mat-nav-list .mat-list-item.mat-list-item-focus,
.mat-nav-list .mat-list-item:hover {
  background: rgba(0, 0, 0, .04);
}

.mat-mdc-menu-panel {
  background: var(--csgWhite);
}

.mat-mdc-menu-item {
  background: 0 0;
  color: rgba(0, 0, 0, .87);
}

.mat-mdc-menu-item[disabled],
.mat-menu-item[disabled]::after {
  color: rgba(0, 0, 0, .38);
}

.mat-mdc-menu-item .mat-icon:not([color]),
.mat-mdc-menu-item-submenu-trigger::after {
  color: rgba(0, 0, 0, .54);
}

.mat-mdc-menu-item-highlighted:not([disabled]),
.mat-menu-item.cdk-keyboard-focused:not([disabled]),
.mat-menu-item.cdk-program-focused:not([disabled]),
.mat-menu-item:hover:not([disabled]) {
  background: rgba(0, 0, 0, .04);
}

.mat-mdc-icon-button[disabled] .mat-paginator-decrement,
.mat-icon-button[disabled] .mat-paginator-first,
.mat-icon-button[disabled] .mat-paginator-increment,
.mat-icon-button[disabled] .mat-paginator-last {
  border-color: rgba(0, 0, 0, .38);
}

.mat-drawer-container {
  background-color: var(--csgWhite);
  color: rgba(0, 0, 0, .87);
}

.mat-drawer {
  background-color: var(--csgWhite);
  color: rgba(0, 0, 0, .87)
}

.mat-drawer.mat-drawer-push {
  background-color: var(--csgWhite);
}

.mat-toolbar {
  background: var(--csgWhite);
  color: rgba(0, 0, 0, .87);
}

.mat-toolbar.mat-primary {
  background: var(--csgOrange);
  color: var(--csgWhite);
}

.mat-toolbar.mat-accent {
  background: var(--csgOrange);
  color: rgba(0, 0, 0, .87);
}

.mat-toolbar.mat-warn {
  background: var(--csgOrange);
  color: var(--csgWhite);
}

/* TODO(mdc-migration): The following rule targets internal classes of form-field that may no longer apply for the MDC version. */
.mat-toolbar .mat-focused .mat-form-field-ripple,
.mat-toolbar .mat-form-field-ripple,
.mat-toolbar .mat-form-field-underline {
  background-color: currentColor;
}

.mat-toolbar .mat-focused .mat-mdc-form-field-label,
.mat-toolbar .mat-form-field-label,
.mat-toolbar .mat-form-field.mat-focused .mat-select-arrow,
.mat-toolbar .mat-select-arrow,
.mat-toolbar .mat-select-value {
  color: inherit;
}

.mat-toolbar .mat-mdc-input-element {
  caret-color: currentColor;
}

.mat-mdc-snack-bar-container {
  background: var(--csgBlack);
  color: var(--csgWhite);
}

.mat-mdc-snack-bar-action {
  color: var(--csgOrange);
}
