<video loop autoplay muted class="video" poster="assets/intro.jpg" style="padding-left: 64px">
  <source src="assets/intro.mp4" type="video/mp4" rel="preload" fetchpriority="low" as="video" />
  <h1 class="headline csgOrange">Cannot view the video!</h1>
  <h1 class="headline csgOrange">😬</h1>
</video>
<div class="content">
  <img class="image center" ngSrc="assets/logo-large.png" priority alt="Cerberus Stomping Grounds" width="720"
    height="487" />
  <h1 class="headline csgOrange">Cerberus Stomping Grounds</h1>
</div>
